
#quienes{
    margin-top: 100px;
    text-align: center;
}

#texto h1{
    text-align: center;
    
    
    
}
#texto h2{
    margin-top: 25px;
    text-align: center;
    
}
#texto{
 width:88%;
margin: auto;

}
